doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Formulario Héroe
		link(rel='stylesheet', href='/css/crearCarta.css')
	body
		.banner
			main
				img(src='/img/banner.png', alt='banner')
				h1 CREACIÓN DE CARTAS
		.container
			header
				h1 Crear nueva carta
			form.card-form(action='/admin/crearcarta', method='post')
				label(for='urlImagen') URL de la imagen:
				input#imageURL(type='text', name='urlImagen',id='urlImagen', required)
				label(for='clase') Clase:
				input#class(type='text', name='clase',id='clase', required)
				label(for='tipo') Tipo:
				input#type(type='text', name='tipo',id='tipo', required)
				label(for='poder') Poder:
				input#power(type='number', name='poder',id='poder', required)
				label(for='vida') Vida:
				input#life(type='number', name='vida',id='vida', required)
				label(for='defensa') Defensa:
				input#defense(type='number', name='defensa',id='defensa', required)
				label(for='ataqueBase') Ataque Base:
				input#baseAttack(type='number', name='ataqueBase',id='ataqueBase', required)
				label(for='ataqueDado') Ataque Dado:
				input#diceAttack(type='number', name='ataqueDado', required)
				label(for='danoMax') Ataque Máximo:
				input#maxAttack(type='number', name='danoMax',id='danoMax', required)
				label(for='activo') Estado:
				select#status(name='estado',id='activo', required)
					option(value='true') Activo
					option(value='false') Inactivo
				label(for='desc') Descripción:
				textarea#description(name='desc',id='desc', required)
				button(type='submit') Crear carta