doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Gestion Heroes
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .add-card-button
        a(href='/admin/crearcarta').link Añadir Heroe
    br
    .caja
      each hero in heroes
        .columna
          div.v49_153
            div.v49_3
            div.v49_4
            div.v49_5
            div.v49_6
            div.v49_8
            span.v49_9 Mago fuego
            span.v49_10 Poder: 1
            span.v49_11 Vida: 20
            span.v49_12 Defensa: 10
            span.v49_13 Ataque: 10 + 1d8
            span.v49_14 Daño: 1d6
            div.v49_15
            span.v49_16 Daño efectivo: 6
            div.v49_17
            span.v49_18 Atacar
            div.v49_19
            div.v49_20
            span.v49_21 P
            span.v49_22 +
            span.v49_23 Progreso
            div.v49_24
            div.v49_25
            span.v49_26 15
            div.v49_27
        br
    center
      ul.pagination
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/heroes?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
  script(src='/js/scriptCartas.js')
